.admin {
    font-family: var(--tipografiaCuBeats), sans-serif;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.admin__main {
    max-width: 1200px;
    margin: 20px auto;
    flex-grow: 1;
    color: darkgray;
}

.admin-main__panel {
    width: 80%;
    margin: 0 auto;
    background-color: #1F1B24;
}

.admin-main__panel h1 {
    color: darkgray;
}
