<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title : 'User profile' }) %>

  <body class="profile">
    <%- include('./partials/header.ejs') %>
      <main class="profile__main">
        <div class="main__container">
          <div class="row">
            <div class="col-md-3 ">
              <div class="d-flex flex-column align-items-center ">
                <div class="autor-profile mb-3">
                  <img src="/img/product.jpg" alt="">
                </div>
                <p class="fs-3">Ferbeoulve</p>
                <a class="btn mb-4" href="#" role="button">Edit Profile</a>
                <!-- <label for="avatar" class="form-label btn btn-primary avatar-label ">Change Avatar
                  <input class="input-button" id="avatar" name="avatar" type="file">
                </label> -->
                <div class="d-flex w-100 justify-content-around  fs-3 profile__redes">
                  <a href="#"><i class="fa-brands fa-youtube"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                  <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-9 ">
              <div class="autor-page-cover">
                <img class="profile-bg__img"
                  src="https://d369yr65ludl8k.cloudfront.net/30535/0567f803-1de1-4b15-ba7d-1e62d9c0b03a.jpg" alt="">
                <div class="d-flex mt-1 justify-content-end">
                  <!-- <label class="btn btn-primary">
                    Change cover
                    <input type="file" class="input-button">
                  </label> -->
                </div>
              </div>
              <hr>
              <article>
                <h3>About Me</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cumque non sequi! Fuga quia
                  consequuntur, quam hic illo commodi doloribus quis placeat voluptas porro quas eum culpa vitae
                  dignissimos error!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptas vel, dicta voluptatum
                  nihil
                  laborum dolorem reiciendis sed ipsa impedit non odio consequuntur id fuga sunt nulla ducimus. Magni,
                  unde!
                </p>
              </article>
              <hr>
              <article>
                <h3>Beats Upload</h3>
                <div class=" row row-cols-1 ">
                  <div class="card mb-3 w-100 " >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="/img/classical.jpeg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </main>
      <%- include('./partials/footer.ejs') %>
        <%- include('./partials/scripts.ejs') %>
  </body>

</html>