<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', { title : 'Cubeats' }) %>

<body class="font-Manrope text-base bg-black text-white font-medium flex flex-col min-h-screen">
  <%- include("./partials/header") %>
  <main class="flex-1 grow">
    <!-- <% if (locals.userLogged && locals.userLogged.role === "user") { %>
			<p>Sos admin</p>
			<% } %> -->
    <article class="flex flex-col gap-12 py-12 px-4 md:px-14 container mx-auto">
      <p class="text-3xl sm:text-4xl font-semibold w-fit">Cuenta</p>
      <div class="flex flex-col">
        <p class="text-base border-b-2 pb-1 border-white w-fit">Perfil</p>
        <hr class="flex-1 border border-zinc-800 my-6" />
        <div class="flex flex-col gap-6 pb-16">
          <p class="text-lg font-semibold">Change password</p>
          <div class="flex flex-col lg:flex-row justify-between gap-10">
            <input type="text" class="pl-4 py-4 bg-zinc-900 flex justify-center items-center gap-4 w-full z-0 truncate grow" placeholder="Contraseña actual" /><input type="text" class="pl-4 py-4 bg-zinc-900 flex justify-center items-center gap-4 w-full z-0 truncate grow" placeholder="Nueva contraseña" />
          </div>
          <button class="py-4 px-5 bg-zinc-900 rounded-sm self-start lg:self-end text-zinc-500 w-full sm:w-fit">
            Change password
          </button>
        </div>
        <div class="flex flex-col gap-6 py-7">
          <p class="text-lg font-semibold">Change email address</p>
          <div class="flex flex-col lg:flex-row justify-between gap-10">
            <input type="text" class="pl-4 py-4 bg-zinc-900 flex justify-center items-center gap-4 w-full z-0 truncate grow" placeholder="<%= userDatos.email %>" /><input type="text" class="pl-4 py-4 bg-zinc-900 flex justify-center items-center gap-4 w-full z-0 truncate grow" placeholder="Confirma tu contraseña" />
          </div>
          <button class="py-4 px-5 bg-zinc-900 rounded-sm text-zinc-500 self-start lg:self-end w-full sm:w-fit">
            Change email
          </button>
        </div>
      </div>
    </article>
  </main>
  <%- include('./partials/footer.ejs')%>
  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script type="module" src="/js/wave.js"></script>
</body>

</html>