<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {
  title : 'Register'
 }) %>

<body class="register">
  <main class="register__main">
    <div class="register__goHome">
      <a href="/"><i class="fa-solid fa-left-long"></i></a>
    </div>
    <div class="register__form-container">
      <form action="/register" class="register__form" method="post">
        <div class="register__form-logo">
          <img src="/img/logotransparente.png" alt="Logo">
        </div>
        <h2>Registrarse</h2>
        <div class="register__form-body">
          <input type="text" placeholder="User Name" name="userName" id="userName" required />
          <input type="text" placeholder="Name" name="name" id="name" required />
          <input type="text" placeholder="Surname" name="surname" id="surname" required />
          <input type="email" placeholder="Email" name="email" id="email" required />
          <input type="password" placeholder="Password" name="password" id="password" required />
          <input type="password" placeholder="Repat password" name="password2" id="password2" required />
          <label><input type="checkbox" id="Terminos" value="terminos"><span>Acepto <a href="http://">terminos y condiciones</a></span></label>
          <button type="submit">Registrarse</button>
        </div>
      </form>
    </div>
  </main>
  <%- include('./partials/scripts.ejs') %>
</body>


</html>