<article
	class="flex justify-between text-center items-center gap-4 pt-32 lg:pt-44 pb-8 px-4 sm:px-14 container mx-auto text-sm"
>
	<p class="text-zinc-500">Copyright © Cubeats</p>
	<div>
		<a
			href="https://github.com/fherrera2190/comision21-G1-Cubeats/tree/develop"
			class="fa-brands fa-github text-4xl"
		></a>
	</div>
</article>
