<head>
	<title><%= title %></title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cubeats</title>
	<!-- css -->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
		rel="stylesheet"
	/>
	<link rel="stylesheet" href="/dist/output.css" />
	<link
		rel="shortcut icon"
		href="/img/logotransparente.svg"
		type="image/x-icon"
	/>
	<script
		src="https://kit.fontawesome.com/948b015395.js"
		crossorigin="anonymous"
	></script>
</head>
